<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <h1>{{title}}</h1>
    <h3>Employee</h3>
    <hr/>
    <form [formGroup]="employeeForrm" (ngSubmit)="save()" , #forDir="ngForm" novalidate>

        <div class="form-group row">
            <label class="control-label col-md-12" for="fname">First Name :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="fname" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'fname') && formDir.submitted">
                FirstName is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="lname">Last Name :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="lname" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'lname') && formDir.submitted">
                LastName is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="email">Email :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="email" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'email') && formDir.submitted">
                Email is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="contactNo">Contcat No :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="contactNo" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'contactNo') && formDir.submitted">
                ContactNo is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="address">Address :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="address" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'address') && formDir.submitted">
                Address is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="username">User Name :</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="username" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'username') && formDir.submitted">
                User Name is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="password">Password</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="password" />
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'password') && formDir.submitted">
                Password is required.
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="Gender">Gender</label>
            <div class="col-md-4">
                <div class="form-control" data-val="true" formControlName="gender">
                    <input type="radio" value="Male" name="gender">Male
                    <br>
                    <input type="radio" value="Female" name="gender">Female
                    <br>
                </div>
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'gender') && formDir.submitted">
                Gender is required
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="qualification">qualification</label>
            <div class="col-md-4">
                <select class="form-control" data-val="true" formControlName="qualification">
                    <option value="">--Select Qualification--</option>
                    <option *ngFor="let qualification of qualifictaionList"
                            value={{qualification.qua}}>
                        {{qualification.qua}}
                    </option>
                </select>
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'qualification') && formDir.submitted">
                Qualification is required
            </span>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12" for="experince">Experince</label>
            <div class="col-md-4">
                <select class="form-control" data-val="true" formControlName="experince">
                    <option value="">--Select Experince--</option>
                    <option *ngFor="let experince of experinceList"
                            value={{experince.exper}}>
                        {{experince.exper}}
                    </option>
                </select>
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'experince') && formDir.submitted">
                experince is required
            </span>
        </div>

   
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</body>
</html>